.butt{
    text-align: center;
}
.butt button{
    width: 157px;
    height: 70px;
    outline: none;
    border: 1px solid rgb(20, 18, 18);
    border-radius: 75px;
    color: rgb(245, 245, 245);
    font-size: 20px;
    font-weight: 500;
    background: rgb(224, 9, 9);
    cursor: pointer;

}